// Body
$body-bg: #DCDCDC;
$primary-color: #4FB19D;
$secondary-color: #EDCE7A;
$clr-dank: #000000;
$light: #FFFFFF;
$text-color: #595960;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// text
$text-h1: 25px;
$text-body: 18px;
$text-medium: 20px;
$text-place: 15px;

$lg: 1200px;
$md: 1024px;
$sm: 768px;
$sx: 480px;